* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 20px;
}

body {
  font-family: sans-serif;
  font-weight: normal;
  background-color: #f6f8f9;
}

.project-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project-header__main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.project-body,
.task-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.task__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-header {
  border: 0.05rem solid #DADEE1;
  box-shadow: 0 0.05rem 0.5rem #DADEE1;
  background-color: #fff;
}

.project-header__logo {
  height: 1.1rem;
  width: 6.1rem;
  margin: 1.4rem;
}

.project-header__title {
  font-size: 1.4rem;
  font-weight: normal;
}

.project-header__id {
  font-size: 0.5rem;
  font-weight: normal;
  color: #949890;
  text-align: center;
}

.project-body {
  border: 0.05rem solid #DADEE1;
  margin: 0.75rem 20vw 2rem 20vw;
  min-height: 70vh;
  background-color: #fff;
  border-radius: 0.1rem;
  padding-bottom: 2.5rem;
}

.task__actions {
  border-bottom: 0.05rem solid #DADEE1;
  min-width: 100%;
}

.task-list {
  width: 100%;
}

.task-list__row {
  border-bottom: 0.05rem solid #E4E4E4;
  width: 100%;
  cursor: pointer;
}

.task-list__row:hover {
  background-color: #f6f8f9;
}

.task-list__row:hover .task-list__txt {
  background-color: #f6f8f9;
}

.task-list__txt {
  height: 1.5rem;
  font-size: 1rem;
  border: none;
  margin-right: auto;
  padding-left: 1.2rem;
  width: 80%;
}

.task-list__txt:hover {
  background-color: #f6f8f9;
}

.btn {
  height: 1.5rem;
  padding: 0 0.45rem;
  margin: 0.5rem 1rem;
  background-color: #fff;
  color: #646f79;
  border-radius: 0.15rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #f6f8f9;
}

.btn:active {
  background-color: #e2dddd;
  border: 0.05rem solid #f6f8f9;
}

.btn--primary {
  background-color: #14aaf5;
  color: #fff;
  border: 0.05rem solid #008ce3;
}

.btn--primary:active {
  box-shadow: none;
}

.btn--primary:hover {
  background-color: #008ce3;
}

.btn--caution {
  margin-right: 0;
  background-color: #d44d36;
  color: #fff;
  border: 0.05rem solid #d44d36;
  visibility: hidden;
}

.btn--caution:active {
  box-shadow: none;
}

.btn--caution:hover {
  background-color: #9d4636;
}

.project-footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

.project-footer__link {
  color: #949890;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: normal;
}

.project-footer__link:visited,
.project-footer__link:active {
  color: #949890;
  text-decoration: none;
}
